In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
from pandas.plotting import parallel_coordinates
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../content/basket_analysis.csv')

In [3]:
print(df)

     Unnamed: 0  Apple  Bread  Butter  Cheese   Corn   Dill   Eggs  Ice cream  \
0             0  False   True   False   False   True   True  False       True
1             1  False  False   False   False  False  False  False      False
2             2   True  False    True   False  False   True  False       True
3             3  False  False    True    True  False   True  False      False
4             4   True   True   False   False  False  False  False      False
..          ...    ...    ...     ...     ...    ...    ...    ...        ...
994         994  False   True   False   False  False  False   True      False
995         995   True  False   False   False   True  False  False      False
996         996   True  False   False   False   True   True  False      False
997         997  False  False    True    True   True  False   True       True
998         998  False  False   False   False  False  False  False      False

     Kidney Beans   Milk  Nutmeg  Onion  Sugar  Unicorn  Yogurt  chocolate
0           False  False   False  False   True    False    True       True
1           False   True   False  False  False    False   False      False
2           False   True   False  False  False    False    True       True
3           False   True    True   True  False    False   False      False
4           False  False   False  False  False    False   False      False
..            ...    ...     ...    ...    ...      ...     ...        ...
994         False  False   False  False  False     True   False       True
995          True   True    True  False  False    False    True      False
996         False  False   False  False   True    False   False       True
997          True  False    True  False   True    False    True       True
998         False   True   False  False  False    False   False       True

[999 rows x 17 columns]

In [4]:
df.drop(df.columns[0],axis=1,inplace=True)

In [5]:
print(df)

     Apple  Bread  Butter  Cheese   Corn   Dill   Eggs  Ice cream  \
0    False   True   False   False   True   True  False       True
1    False  False   False   False  False  False  False      False
2     True  False    True   False  False   True  False       True
3    False  False    True    True  False   True  False      False
4     True   True   False   False  False  False  False      False
..     ...    ...     ...     ...    ...    ...    ...        ...
994  False   True   False   False  False  False   True      False
995   True  False   False   False   True  False  False      False
996   True  False   False   False   True   True  False      False
997  False  False    True    True   True  False   True       True
998  False  False   False   False  False  False  False      False

     Kidney Beans   Milk  Nutmeg  Onion  Sugar  Unicorn  Yogurt  chocolate
0           False  False   False  False   True    False    True       True
1           False   True   False  False  False    False   False      False
2           False   True   False  False  False    False    True       True
3           False   True    True   True  False    False   False      False
4           False  False   False  False  False    False   False      False
..            ...    ...     ...    ...    ...      ...     ...        ...
994         False  False   False  False  False     True   False       True
995          True   True    True  False  False    False    True      False
996         False  False   False  False   True    False   False       True
997          True  False    True  False   True    False    True       True
998         False   True   False  False  False    False   False       True

[999 rows x 16 columns]

In [6]:
df.shape

(999, 16)

In [7]:
df.mean()

Apple           0.383383
Bread           0.384384
Butter          0.420420
Cheese          0.404404
Corn            0.407407
Dill            0.398398
Eggs            0.384384
Ice cream       0.410410
Kidney Beans    0.408408
Milk            0.405405
Nutmeg          0.401401
Onion           0.403403
Sugar           0.409409
Unicorn         0.389389
Yogurt          0.420420
chocolate       0.421421
dtype: float64